# ===== Build output / compiled =====
out/
bin/
build/
target/
*.class

# ===== App data created by FileBackedTaskManager =====
tasks.csv

# ===== IntelliJ IDEA =====
.idea/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
# !.idea/libraries/   # надо включать только осознанно
*.iml

# ===== VS Code =====
.vscode/

# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== Eclipse =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===== NetBeans =====
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
